{% extends "core/base.html" %}
{% load static %}
{% load mathfilters %}
 
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'availability_list/css/index.scss' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'availability_list/js/index.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Availability List{% endblock %}

{% block content %}
   
  <center>
    
    Availability (select Max 8):
    <div id="availability">
     8
    </div>
   
   {% for item in 14|get_range %}
       <div id="{{forloop.counter}}" class="rectangle" >
           <b>
               {% if forloop.counter|divisibleby:2 %}
                   {{ item|addition:7 }}:30
               {% else %}
                   {{ item|addition:7 }}:00
               {% endif %}
	   </b>
       </div>
   {% endfor %}
   
   <span id="clear">clear all availability hours</span>
   
   <div><b> Horario Seleccionado:</b></div>
   <div id="selected_schedule" style="text-align: center;"></div>  

   <br><br>
   <a href="{% url 'index'  %}">Volver al Index</a>
  
  </center>

{% endblock %} 

