<li>
  <p><b>Ejercicio #1:</b><br><br>
  Construye una lista que contenga tramos horarios, en intervalos de 30 minutos, que empiece a las 8:00 am y termine a las 8:00 pm. La empresa tiene una disponiblidad de 8 motociclistas cada 30 minutos, cuando alguien  haga click en estas cajitas tomará un recurso de motociclista (un contador que empiece en 8 y baje a 7), además deberá marcar la caja en verde, si vuelve marcar la cajita deberá liberar el recurso (si el contador se encontraba en 7 deberá pasar a 8), si otros usuarios han tomado a todos los motociclistas la caja deberá aparecer en color rojo y no deberá tomar ese horario.
  </p>
  <a href="{% url 'availability_list'  %}"> Availability List</a>
</li>
